[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/Qt-Frameless-Window-DarkStyle"]
	path = externals/Qt-Frameless-Window-DarkStyle
	url = git@github.com:IohannRabeson/Qt-Frameless-Window-DarkStyle.git
[submodule "externals/rtmidi"]
	path = externals/rtmidi
	url = https://github.com/thestk/rtmidi.git
