[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/Qt-Frameless-Window-DarkStyle"]
	path = externals/Qt-Frameless-Window-DarkStyle
	url = git@github.com:IohannRabeson/Qt-Frameless-Window-DarkStyle.git
[submodule "externals/Qool"]
	path = externals/Qool
	url = git@github.com:IohannRabeson/Qool.git
[submodule "externals/antlr4"]
	path = externals/antlr4
	url = https://github.com/IohannRabeson/antlr4.git
